%div.top_hundred
  %a{ href: '/top_hundred' }
    %button.top_hundred_button.btn.btn-sm.btn-default
      %i{class: 'fa fa-line-chart fa-4x'}
%div.shortly-bar
  %center
    %a{ href: '/' }
      %img{ src: 'images/shorts.png', class: 'shorts-logo' }
  %div.col-lg-8.col-lg-offset-2
    %div.input-group
      %input{ type: 'text', class: 'form-control', placeholder: 'Enter a URL...' }
      %span.input-group-btn
        %button.btn.btn-success{ type: 'button', class: 'shorten-button' }Shorten!
