%div.top_hundred
  %a{ href: '/top_hundred' }
    %button.top_hundred_button.btn.btn-sm.btn-default
      %i{class: 'fa fa-line-chart fa-3x bootstrap-green'}
%center
  %a{ href: '/' }
    %img{ src: 'images/shortly_logo.svg', class: 'shorts-logo' }

%div.shortly-bar
  %div.col-md-6.col-md-offset-3
    %div#invalid-url
      %span.invalid-url-text.bootstrap-red.hidden Oops! this doesn't appear to be a valid url
    %form#shortly-form
      %div.input-group
        %input#shortly-input{ type: 'text', class: 'form-control', placeholder: 'Enter a URL...' }
        %span.input-group-btn
          %button#shortly-shorten-button.btn.btn-success{ type: 'submit', class: 'shorten-button' }Shorten!

%div#shortened-responses.col-md-6.col-md-offset-3{style: 'clear: both'}
  %div#success-seed.hidden
    %div.shorten-success-panel.bs-callout-success
      %a.short-link-text.bootstrap-green{ href: 'Hello' } Hello
      %div.full-link-text
        %a.full-link-link{ href: 'http://www.nytimes.com' }www.nytimes.com
  %div#failure-seed.hidden
    %div.shorten-failure-panel.bs-callout-danger
      %span.failure-message.bootstrap-red Looks like something went wrong :(
      %div.full-link-text
        %a.full-link-link{ href: 'http://www.nytimes.com' }www.nytimes.com

%script(src="vendor/javascripts/regex-weburl.js")
%script(src="javascripts/url_helper.js")
%script(src="javascripts/index.js")
