%html
  %head
    %title Shortly - Get your short links here!
    %link(rel="stylesheet" href="vendor/stylesheets/font-awesome.min.css")
    %link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css")
    %link(rel="stylesheet" href="stylesheets/application.css")
  %body
    =yield