%html
  %head
    %title Shortly - Get your short links here!
    %link(rel="stylesheet" href="vendor/stylesheets/font-awesome.min.css")
    %link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css")
    %link(rel="stylesheet" href="stylesheets/application.css")
    %script(src="vendor/javascripts/jquery-2.1.3.js")
    %script(src="vendor/bootstrap/js/bootstrap.min.js")
  %body
    =yield