.top_hundred {
  position: static;
}

.top_hundred a {
  position: absolute;
  top: 0px;
  right: 0px;

  margin: 8px 8px;
}

.top_hundred button {
  padding: 2px 4px;
  background: rgba(240, 240, 240, 0.4)
}

.shortly-bar {
  margin: 180px 0px 0px 0px;
}

.fa-line-chart {
  color: rgb(76, 174, 76);
}

.shorten-button {
  height: 34px;
}