.bootstrap-green {
  color: rgb(76, 174, 76);
}

.bootstrap-red {
  color: #d9534f;
}

.hidden {
  visibility: hidden;
}

.top_hundred {
  position: static;
}

.top_hundred a {
  position: absolute;
  top: 0px;
  right: 0px;

  margin: 8px 8px;
}

.top_hundred button {
  padding: 2px 4px;
  background: rgba(240, 240, 240, 0.4)
}

.shortly-bar {
  margin: 180px 0px 0px 0px;
}

.shorten-button {
  height: 34px;
}

.bs-callout-success {
  border: 1px solid;
  border-left-width: 5px;
  border-radius: 8px;
  border-color: rgb(76, 174, 76);
  padding-left: 10px;
  margin-top: 12px;
}

.bs-callout-danger {
  border: 1px solid;
  border-left-width: 5px;
  border-radius: 8px;
  border-color: #d9534f;
  padding-left: 10px;
  margin-bottom: 12px;
}

#shortened-responses {
  margin-top: 17px;
}

.short-link-text {
  font-size: 30px;
  vertical-align: middle;
}

.failure-message {
  font-size: 30px;
  vertical-align: middle;
}

.full-link-text {
  margin-top: -8px;
  font-size: 17px;
}

#invalid-url {
  position: relative;
  margin-top: -12px;
  margin-left: 5px;
  min-height: 19.091px;
}

#invalid-url-text {
  position: absolute;
  left: 0;
  bottom: 0;
}